* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s ease;
  background: #383a3d;
}

/* Login */
.form-container{
	border-radius: 10px;
	padding: 30px;
}

/* Header  */
header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

form{
	background: #fff;
}

.logo-container, .nav-links {
  display: flex;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #0404ac;
  font-size: 18px;
  text-decoration: none;
}

.logo-container {
  flex: 1;
}

nav {
  flex: 2
}


/* Sections  */

  /* Presentation  */

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  align-items: center;
}

.introduction  {
  flex: 1;
}

.intro-text h1{
  font-size: 44px;
  font-weight: 400;
  background: linear-gradient(to right, #1c4997, #0404ac);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #0404ac
}

/* .cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
} 

.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}
*/

.cta {
  padding: 50px 0px 0px 0px;
  
}

.cta-select {
  border: 2px solid #02E467;
  background: transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #0404ac;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}

.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}

  /* Options  */

.options {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.options-text {
  flex: 1;
  text-align: center;
}

.options-text h1{
  font-size: 44px;
  font-weight: 400;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
}

.options-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772
}

.options-cover {
  flex: 1;
  height: 40vh;
}

.options-cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
}

.bg-active {
  background-color: #D9D9DE;
}

@keyframes drop {
  0% {
      opacity: 0;
      transform: translateY(-80px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
      flex-direction: column;
  }
  .introduction {
      margin-top: 5vh;
      text-align: center;
  }
  .intro-text h1 {
      font-size: 30px;
  }
  .intro-text p{
      font-size: 18px;
  }
  .cta {
      padding: 10px 0px 0px 0px;
  }
  .cover img {
      height: 80%;
  }
  .big-circle, .medium-circle, .small-circle {
      opacity: 0.1;
  }
}