* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  transition: all 0.5s ease;
}

/* Login */
.form-container{
	border-radius: 10px;
	padding: 30px;
}

/* Header  */
header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

form{
	background: #fff;
}

.logo-container, .nav-links {
  display: flex;
  
}

.logo {
  font-weight: 300;
  margin: 5px;
  color: #FFFFFF;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #6F7172;
  font-size: 18px;
  text-decoration: none;
}
.nav-link:hover {
  color:#FFFFFF
}

.logo-container {
  flex: 1;
}

nav {
  flex: 2
}


/* Sections  */

  /* Presentation  */
.home-container {
  background-image: linear-gradient(149.53deg, rgb(139, 149, 158) -14.6%, rgb(51, 55, 58) 15.02%, rgb(0, 0, 0) 50.16%);
}



.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  align-items: center;
}

.introduction  {
  flex: 1;
  
}

.intro-text h1{
  font-size: 44px;
  font-weight: 500;
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 200;
  color: #FFFFFF
}

/* .cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
} 

.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}
*/

.cta {
  padding: 50px 0px 0px 0px;
  
}

.cta-select {
  
  background: rgb(25, 28, 31);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 10%;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.2;
  height: 80%;
  pointer-events:none;
}

.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  height: 60%;
  opacity: 0.3;
}

.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  opacity: 0.8;
}

  /* Options  */

.whatWeDo-container {
  background-color:#000000
}

.options {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.options-text {
  flex: 1;
  text-align: center;
  
}

.options-text h1{
  font-size: 44px;
  font-weight: 400;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
}

.options-text p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 100;
  color: #FFFFFF
}

.options-cover {
  flex: 1;
  height: 40vh;
}

.options-cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
}

.bg-active {
  background-color: #D9D9DE;
}

@keyframes drop {
  0% {
      opacity: 0;
      transform: translateY(-80px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
      flex-direction: column;
  }
  .introduction {
      margin-top: 5vh;
      text-align: center;
  }
  .intro-text h1 {
      font-size: 30px;
  }
  .intro-text p{
      font-size: 18px;
  }
  .cta {
      padding: 10px 0px 0px 0px;
  }
  .cover img {
      height: 80%;
  }
  .big-circle, .medium-circle, .small-circle {
      opacity: 0.1;
  }
}

.trade-list-container {
  background-image: linear-gradient(149.53deg, rgb(139, 149, 158) -14.6%, rgb(51, 55, 58) 15.02%, rgb(0, 0, 0) 50.16%);
}